.Rhistory
/Output/GT_OM_constant_wdat.Rdata
/Output/GT_OM_curvilinear_wdat.Rdata
/Output/GT_OM_linear_wdat.Rdata
/Output/GT_OM_perf_wdat.Rdata
/Output/Triggerfish_Base.Rdata
/Output/SCAAfit_GT_All.RData
workspace.RData